.card {

    &__container {
        margin: 0 auto;
        max-width: 250px;
        width: 100%;
        text-align: center;
        box-shadow: 0 0 15px lightslategrey;
        border-radius: 6px;
        transition: box-shadow .5s ease-in ;

        &:hover{
            box-shadow: 0 20px 25px lime;
            

            & .card__image img {
                transform: translate(-50%, -50%) scale(1.3);

            }

        }
        
    }
    &__date {
        font-size: .8em;
        color: lightsalmon;
        margin-bottom :5px;
    }
    &__title {
        font-size: 1.8em;
        margin-bottom: 10px;
    }
    &__stats {
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        li {
            background: crimson;
            color: white;
            list-style: none;
            padding: 15px 5px;

            &:first-child{
                border-bottom-left-radius: 6px;
            }
            &:last-child{
                border-bottom-right-radius: 6px;
            }

            h5 {
                font-size: 1em;

            }
            
        }
        
    }
    &__image {
        background: lightgray;
        height: 150px;
        overflow: hidden;
        position: relative;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) ;
            transition: transform 2s ease-in-out;

            

        }
    }
    &__content {
        padding: 25px;
    }

}
