*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}
body {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
header, footer, aside, article,
.main-articles > article,
.related-articles article {
  background-color: aqua;
  height: 88px;
  width: 100%;
}
aside:before,
header:before,
article:before,
footer:before {
  content: "TAGNAME";
  position: relative;
  top: 50%;
  display: block;
  transform: translateY(-50%);
}
aside:before { 
    content: "ASIDE" 
} 
header:before { 
    content: "HEADER"
 } 
footer:before { 
    content: "FOOTER"
 }

article:before,
.main-articles > article:before,
.related-articles article:before {
     content: "ARTICLE"
     }

     header, 
footer {
  background-color: aquamarine;
}

header {
  margin-bottom: 15px;
}


main > *, .related-articles > article {
  width: 100%;
}

aside {
  background-color: lightskyblue;
}

.main-articles > article {
  margin-top: 15px;
  background-color: darksalmon;
}

.main-articles > article:first-child {
  margin-top: 0;
}

footer {
  margin-top: 15px;
}

@media (min-width: 600px) {
    .related-articles {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
      padding-top: 15px;
    }
    
    .related-articles article:last-child {
      display: none;
    }
  }
  
  @media (min-width: 800px) {
    .related-articles {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .related-articles article:last-child {
      display: block;
    }
    
    main {
      display: grid;
      grid-template-columns: 4fr 1fr;
      grid-gap: 15px;
    }
    
    aside {
      height: 100%;
    }
  }